/* Font Imports*/
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Color Variables */
:root {
  --porcelain: #f8f8f6;
  --olive-stone: #6f7d5c;
  --greige-mist: #e2e0dc;
  --greige-deep: #bcb7ae;
  --bark: #3e3a36;
  --ash-olive: #949393;
  --clay-beige: #cfc8bb;
  --deep-moss: #4f5a3d;
  --muted-terracotta: #d9a173;
  --deep-terracotta: #b56b44;
  --dark-green: #4e5444;
  --brown: #151312;
  --white: #d1c9c0;

  --accessible-beige: #d0c5b8;
  --classic-gray: #e3e0db;
  --agreeable-gray: #d1c9c0;
  --revere-pewter: #ccc5b9;
  --realist-beige: #cfc3b6;
  --pale-oak: #e4ddd1;
  --everyday-white: #f3f0eb;
  --balboa-mist: #d8d5cf;
  --repose-gray: #d5d1cc;
  --edgecomb-gray: #d8d1c5;

  /* Global usage */
  --bg-color: var(--porcelain);
  --text-color: var(--bark);
  --input-bg: white;
  --input-border: var(--ash-olive);
  --button-bg: var(--bark);
  --button-hover: var(--deep-moss);
  --button-text: #e9e2da;

  /* Fonts */
  --font-display: "Playfair Display", serif;
  --font-normal: "Barlow", sans-serif;
}

/* Dark Mode */
.dark {
  --porcelain: #1e1b19;
  --olive-stone: rgb(120, 131, 104);
  --greige-mist: #292525;
  --greige-deep: #5c5b57;
  --bark: #d8d5ce;
  --ash-olive: #868686;
  --clay-beige: #3a3732;
  --deep-moss: #7c8a66;
  --muted-terracotta: #e8b693;
  --deep-terracotta: #c8856c;
  --dark-green: #4e5444;
  --brown: #151312;
  --white: #d1c9c0;

  --bg-color: #242222;
  --text-color: #d8d5ce;
  --input-bg: #2b2b28;
  --input-border: #e2e0dc;
  --button-bg: #151312;
  --button-hover: #868686;
  --button-text: #e9e2da;
}

/* Base Styles */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-normal);
}

/* Typography Utilities */
.font-display {
  font-family: var(--font-display);
}

.font-normal {
  font-family: var(--font-normal);
}

/* Button Styling */
.button {
  font-family: var(--font-display);
  background-color: var(--button-bg);
  color: var(--button-text);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  transition: background-color 0.2s ease-in-out;
  min-width: max-content;
}

.button:hover {
  background-color: var(--button-hover);
}

/* Carousel Styles (Embla) */
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
